<!DOCTYPE html>
<html lang="en"><head>

  <link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">

  <link href="https://unpkg.com/bootstrap-css-only@4.1.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css" rel="stylesheet">
<link href="https://unpkg.com/angular-calendar@0.26.4/css/angular-calendar.css" rel="stylesheet">
<link href="https://unpkg.com/flatpickr@4.5.2/dist/flatpickr.css" rel="stylesheet">

</head>
<body>
  <div>
      <app-navigation></app-navigation>
      <app-left-menu></app-left-menu>
    <div class = "rightbar">
        <br>
        <app-calendar ></app-calendar>
    </div>
  </div>
 
   <!--<footer>Copyright © MyShifts The University of Alabama</footer>-->

</body></html>

<router-outlet></router-outlet>


