<div class = "leftbar">
    <div ng-controller="Test">
        <h3>Hello</h3>
        <div class = "buttonBar">
            <button (click)="my = !my; open = false; all = false; getEvent();" type="button" id="btn1" [className]="my ? 'active' : 'btn'">My Shifts</button>
            <button (click)="all = !all; my = false; open = false; getEvent();" type="button" id="btn2" [className]="all ? 'active' : 'btn'">All Shifts</button>
            <button (click)="open = !open; my = false; all = false; getEvent();" type="button" id="btn3" [className]="open ? 'active' : 'btn'">Open Shifts</button>
        </div>
        <br>
        <div [style.display]="open ? 'block' : 'none'" class = "shiftBar" id="open">
        <h4>Open Shifts</h4>
            <p id="Shifts">12/12/18, 12:00 AM - 12/12/18, 3:00 PM</p>
        </div>
    
        <div [style.display]="all ? 'block' : 'none'" class = "shiftBar" id="all">
        <h4>All Shifts</h4>
            <tr *ngFor="let event of events; let index = index">
                <td>
                    <p id="Shifts">{{event.start | date:'short'}} - {{event.end | date:'short'}}</p>
                </td>
            </tr>
          <!--  <p id="Shifts">12/12/18, 12:00 AM - 12/12/18, 3:00 PM</p>
            <p id="Shifts">12/14/18, 3:00 PM - 12/14/18, 7:00 PM</p> -->
        </div>
        <div [style.display]="my ? 'block' : 'none'" class = "shiftBar" id="my">
        <h4>My Shifts</h4>
            <tr *ngFor="let event of events; let index = index"> 
                <td>
                    <p id="Shifts">{{event.start | date:'short'}} - {{event.end | date:'short'}}</p>
                </td>
            </tr> 
        </div>
    </div>
</div>

