<div mat-dialog-content>
   <h4 style="text-align: center">Availability</h4>
  <mat-form-field>
    <input matInput placeholder="Start Date" mwlFlatpickr
    [enableTime]="true"
    dateFormat="Y-m-dTH:i"
    [(ngModel)] ="data.startDate">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="End Date" mwlFlatpickr
    [enableTime]="true"
    dateFormat="Y-m-dTH:i"
    [(ngModel)] ="data.endDate" >
  </mat-form-field>
</div>
<mat-form-field>
    <input  matInput placeholder="Reason" [(ngModel)]="data.eventTitle">
  </mat-form-field>
<div mat-dialog-actions>
  <button style="padding-right: 10px" class="btn btn-primary" mat-button (click)="onNoClick()">Cancel</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="btn btn-primary" mat-button [mat-dialog-close]="[data.eventTitle,data.startDate,data.endDate]" cdkFocusInitial>Submit</button>
</div>