<div mat-dialog-content>
   <h4 style="text-align: center">Request Form</h4>
    <input type="radio" value="timeOff" name="requestType" [(ngModel)] ="data.requestType"> Request Time Off <br>
    <input type="radio" value="work" name="requestType" [(ngModel)] ="data.requestType"> Request to Work <br> 
  <mat-form-field>
    <input matInput placeholder="Start Date" mwlFlatpickr
    [enableTime]="true"
    dateFormat="Y-m-dTH:i"
    [(ngModel)] ="data.startDate">
  </mat-form-field> <br>
  <mat-form-field>
    <input matInput placeholder="End Date" mwlFlatpickr
    [enableTime]="true"
    dateFormat="Y-m-dTH:i"
    [(ngModel)] ="data.endDate" >
  </mat-form-field>
</div>
<mat-form-field>
    <input  matInput placeholder="Reason" [(ngModel)]="data.eventTitle">
  </mat-form-field>
<br>
<div mat-dialog-actions style="float: left">
  <button style="padding-right: 10px" class="btn btn-primary" mat-button (click)="onNoClick()">Cancel</button> 
</div>
<div mat-dialog-actions style="float: right">
  <button class="btn btn-primary" mat-button [mat-dialog-close]="[data.eventTitle,data.startDate,data.endDate,data.requestType]" cdkFocusInitial>Submit</button>
</div>